body{

background-color: rgb(247, 247, 247);
font-family: cursive;
color:rgb(10, 10, 10);
font-size: 60px;


}

h1{

text-align: center;
font-size: 100px;
color: rgb(56, 17, 17);
}

.about{
    color: black;
}

.article{

font-size: 60px;
text-align: left;

}



.home{

    color: black;

}




.h2{

font-size: 60px;
font-family: cursive;

}